@font-face {
    font-family: "sspro";
    src: url("../assets/fonts/SourceSansPro-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Nunito';
    src: url(../assets/fonts/Nunito-VariableFont_wght.ttf) format('truetype');
}

@font-face {
    font-family: 'Mukta';
    src: url(../assets/fonts/Mukta-Medium.ttf) format('truetype');
}

body {
    margin: 0;
}

.noselect {
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}